<div data-role="view" data-title="Config BLE" data-layout="config" data-model="app.config" data-show="app.config.onShow" data-after-show="app.config.afterShow" id="configScreen" class="screen">


	<!-- START_CUSTOM_CODE_home
		<header data-role="header">
		<div data-role="navbar" class="header-text">
			<span class="view-title upper-left" data-bind="text: strings.home.title"></span>
			<div>nav links</div>
		</div>
	</header>

		-->
	<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
	<div class="actions">
		<button id="btnScanBT" class="k-button">SCAN FOR DEVICE</button>
		<button id="btnStopScanBT" class="k-button">STOP SCAN</button>
	</div>
	<div id="BTLog" data-role="scroller">

	</div>
	<!-- END_CUSTOM_CODE_home -->
</div>